default menu.c32   
 prompt 0   
 timeout 900
 ONTIMEOUT   
 menu title ######## PXE Boot Menu ########  
 label 1  
 menu label ^1) Install CentOS 8
 kernel centos/vmlinuz
 append initrd=centos/initrd.img ip=dhcp inst.repo=http://192.168.9.2:8080/centos8/ inst.ks=http://192.168.9.2:8080/kickstart/kickstart.cfg
