default menu.c32   
 prompt 1
 timeout 9
 ONTIMEOUT 1
 menu title ######## PXE Boot Menu ########  
 label 1
 menu label ^1) Install Ceph Node
 menu default
 kernel images/pxeboot/vmlinuz
 append initrd=images/pxeboot/initrd.img ip=dhcp inst.repo=http://uk.mirrors.clouvider.net/CentOS/8/BaseOS/x86_64/os/ inst.ks=http://192.168.9.2/kickstart/kickstart.cfg
